*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background:#f1f5ea;
    padding:40px;
    color:#333;
}


.title{
    text-align:center;
    font-size:36px;
    font-weight:700;
    margin-bottom:8px;
}

.subtitle{
    text-align:center;
    font-size:15px;
    color:#777;
    margin-bottom:40px;
}

.card{
    width:100%;
    background:white;
    border-radius:8px;
    box-shadow:0 4px 14px rgba(0,0,0,0.08);
    padding:25px;
    margin-bottom:30px;
}

.card-header{
    display:flex;
    gap:12px;
    align-items:flex-start;
    margin-bottom:20px;
}

.card-header h2{
    font-size:20px;
    font-weight:600;
}

.card-header p{
    font-size:14px;
    color:#777;
    margin-top:-2px;
}

.icon{
    font-size:26px;
}

.form-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.form-group{
    display:flex;
    flex-direction:column;
}

.form-group.full{
    grid-column:1 / 3;
}

label{
    font-size:14px;
    font-weight:500;
    margin-bottom:5px;
}

input{
    height:42px;
    padding:10px 12px;
    border-radius:6px;
    border:1px solid #d6d6d6;
    font-size:14px;
    outline:none;
}

input:focus{
    border-color:#8fb9a3;
}
@media (max-width:780px){
    .form-grid{
        grid-template-columns:1fr;
    }
    .form-group.full{
        grid-column:1;
    }
}

.btn{
    display:inline-block;
    padding:10px 18px;
    background:#9ec4b6;
    color:#fff;
    border-radius:28px;
    font-weight:700;
    border:none;
    cursor:pointer;
    font-size:14px;
    text-decoration:none;
    margin:6px 6px;
}

.btn:hover{
    background:#8ab49f;
}

.btn.full{display:block;width:100%;text-align:center}

